<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

#app {
    font-family: Verdana;
    color: navy;
}

.authForm {
    width: 200px;
    background: #ccc;
    padding: 5px;
    padding-right: 20px;
    border: solid 1px black;
    float: left;
}

#formHeader{
    padding:10px 20px;
    margin:0;
    color:#fff;
    text-shadow:0 -1px 0 rgba(0,0,0,0.3);
    background-color:#829aa8;
    border:1px solid #768995;
    border-radius:3px 3px 0 0
}

label{
    padding:0 5px 0 0;
    font-size:14px;
    font-weight:600;
    line-height:17px;
    color:#586069
}

div{
    outline: 2px solid #000; /* Чёрная рамка */
}

.error{
     color: red; /* Цвет символа */
 }

.link{
    color: blue; /* Цвет символа */
}